{% extends 'exercises/base.html' %}

{% block title %}
    Unidades
{% endblock %}

{% block content %}
    <h1>{{ course.title }}</h1>
    <p>{{ course.description }}</p>
    {% with request.user.profile.is_teacher as teacher %}
        {% if teacher %}
            <a href="{{ course.get_exercise_create_url }}">Crear ejercicio</a>
            <a href="{{ course.get_unit_create_url }}">Crear unidad</a>
        {% endif %}
        {% for unit in units %}
            <div>
                <p>{{ unit.title }}</p>
                {% if teacher %}
                    <a href="{{ unit.get_edit_url }}">Editar unidad</a>
                {% endif %}
                {% for exercise in unit.exercises.all %}
                    <div>
                        <a href="{{ exercise.get_absolute_url }}">
                            {{ exercise.title }}
                        </a>
                        {% if teacher %}
                        <a href="{{ exercise.get_edit_url }}">Editar ejercicio</a>
                        {% endif %}
                    </div>

                {% empty %}
                    <p>Esta unidad no tiene ejercicios.</p>
                {% endfor %}
            </div>
        {% empty %}
            <p>Este curso no tiene unidades.</p>
        {% endfor %}
    {% endwith %}
{% endblock %}