{% extends 'base.html' %}

{% block title %}
    Restablece tu contraseña
{% endblock %}

{% block content %}
    <h1>Restablece tu contraseña</h1>
    {% if validlink %}
        <p>Por favor ingresa tu nueva contraseña dos veces:</p>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Restablecer contraseña</button>
        </form>
    {% else %}
        <p>El enlace de restablecimiento de contraseña es inválido o ha expirado.</p>
        <p>Por favor, solicita un nuevo enlace de restablecimiento de contraseña.</p>
    {% endif %}
{% endblock %}
