{% extends 'base.html' %}
{% load static %}

{% block title %}
    rpl
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'submissions/css/prism.css' %}">
{#    <link rel="stylesheet" href="{% static 'submissions/css/index.css' %}">#}
{% endblock %}

{% block script %}
    <script src="{% static 'submissions/js/submit.js' %}"></script>
    <script src="{% static 'submissions/js/prism.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>rpl</h1>
    <p>Bienvenido!</p>
    <form id="submit-code-form">
        {% csrf_token %}
        <pre><code class="language-python">{{ form.code }}</code></pre>
        <button id="submit-btn" type="submit">Enviar</button>
    </form>
    <div id="results-container">
        <div id="loading-overlay"></div>
        <h3 id="results-title"></h3>
        <pre><code id="results-test" class="language-python"></code></pre>

    </div>


{% endblock %}